# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Debug
*.log
npm-debug.log*
